<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    
    
    @Scripts.Render("~/bundles/jqueryval")
    
    
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <script src="~/Scripts/gridmvc.min.js"></script>
    <style>
        body {
            padding-top: 0px;
        }
        .validation-summary-errors {
            font-size: 25px;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {

            var active = '@ViewBag.Active';
            $('#topNav ul').find('li').each(function (i, j) {

                var current = $(this);
                if (current.text() == active) {
                    current.addClass('active');

                }
            });


        });
    </script>

</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>*@
            <nav class="navbar" id="topNav">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("CREATE A CONTACT", "Create")</li>
                    <li>@Html.ActionLink("SHOW CONATCTS", "Index")</li>
                    
                </ul>
            </nav>
            @*<div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>*@
        @*</div>
    </div>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Contact Manager</p>
        </footer>
    </div>

    
    @RenderSection("Scripts", required: false)
    @RenderSection("Styles", required: false)
</body>
</html>
